# Build and Cache directories
dist/
.astro/
.vercel/
node_modules/
bower_components/

# Environment variables
.env
.env.local
.env.*.local

# IDEs and OS files
.DS_Store
.DS_Store?
*.log
logs
**/*.backup.*
**/*.back.*
*.sublime*
psd
thumb
sketch

